body{
    background-color: #4D5D53;
    color:#e3d9c7;
    
}

.container{
    
    margin: 12%;
    width: 90%;
}

.display
{
    background-color: white;
    width: 70%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    
   
    
}

.container h1 span{
   color:#e3d9c7;
   border-bottom: 4px solid #e3d9c7 ;
   padding-bottom: 10px;
   
}

.display img{
    width: 40px;
    cursor: pointer;
}

.display input{
    margin: 0;
    border: 0;
 outline: 0;
   
    font-size: 24px;
}

.container button{

    margin-bottom:20px;
    padding: 20px;
    width: 23%;
    border-radius: 6px;
    font-size: 26px;
    font-weight: bold;
    background-color: #1F4E79;
    color: #D9EFFF;
   
}